<a href="https://colab.research.google.com/github/CoddingMaster12/python_Class01/blob/main/Python_Class05(Methods).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function Method

In [ ]:
def my_class(a, b):
 return a+b

 print(5,6)

# String Method

In [ ]:
#Methods Todays Class

name:str = "i am pakistani"
print(type(name))
name1:str = "name.encode"
print(name1.count)
print(name.count("s"))
# print(len(name))
# print(name.find("k"))
# print(name1)
# print(name)


# name: str = "My name is Abdul Basit My natonality is Pakistani"
# name1 = name.capitalize()
# print(name1)
# print(name.replace("Pakistani","Suddani").upper())

<class 'str'>
<built-in method count of str object at 0x7a6f80d80970>
1

# List Method

In [ ]:
my_list = ['zeeshan', 'Ali', "Ahsan",]
# append method add value in last
my_list.append("Munna Bhai")
print(my_list)

# insert method add index in any position
my_list.insert(0,'Sir Zia')
print(my_list)

# reverse method reverse the list like 1 to 10 into 10 to 1
my_list.reverse()
print(my_list)

# pop delete last value in your list
my_list.pop()
print(my_list)

# remove specific value from list
my_list.remove('Ahsan')
print(my_list)

# sort is used to sort the list in ascending order or descending order
my_list.sort()
print(my_list)
# extend method add two list in last
new_teachers = ['Abdullah', 'Ghous']
print('Old List', my_list)
my_list.extend(new_teachers)
print('Updated List', new_teachers)

['zeeshan', 'Ali', 'Ahsan', 'Munna Bhai']
['Sir Zia', 'zeeshan', 'Ali', 'Ahsan', 'Munna Bhai']
['Munna Bhai', 'Ahsan', 'Ali', 'zeeshan', 'Sir Zia']
['Munna Bhai', 'Ahsan', 'Ali', 'zeeshan']
['Munna Bhai', 'Ali', 'zeeshan']
['Ali', 'Munna Bhai', 'zeeshan']
Old List ['Ali', 'Munna Bhai', 'zeeshan']
Updated List ['Abdullah', 'Ghous']

# Dictionary Method

In [ ]:
# #Dictionary

# new_dic = {
#           'Name': 'Abdul Basit',
#           'Gender': 'Male',
#           'Age' : 23
# }

# print(new_dic)
# #keys
# print(new_dic.keys())
# #values
# print(new_dic.values())
# #items
# print(new_dic.items())


# #get
# print(new_dic.get("Name"))

# #update

# new_dic1 = {"city" : "Islamabad"}
# new_dic2 = {"Country": "Pakistan"}
# new_dic.update(new_dic1)
# new_dic.update(new_dic2)
# print(new_dic1)
# print(new_dic2)


# #pop in dictionary
# print(new_dic.pop("Age"))
# print(new_dic)


# #clear

# new_dic.clear()
# print(new_dic)

# Tupple Method

In [ ]:
# prompt: python tupple method

my_tuple = (1, 2, 3, 2, 4, 5, 2)
my_tuple1 = (1, 2, 3, 2, 4, 5, 2)

# count(): Returns the number of times a specified value occurs in a tuple.
print(my_tuple.count(2))  # Output: 3

# index(): Returns the index of the first occurrence of a specified value.
print(my_tuple.index(4)) # Output: 4

# Note: Tuples are immutable, so they don't have methods that modify the tuple itself
# (like append, insert, remove, etc. that you see with lists).
print(my_tuple1.count(5))
print(my_tuple1.index(3))

1
2

In [ ]:
x = 'Welcome'
print(x[3:7])

come

In [ ]:
b = "Hello,World!" #defination slice
print(b[2:6])

llo,